// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$van-primary: #2c9bf5;
$van-primary-invert: findColorInvert($primary);
$van-dark: #8C8D93;
$van-dark-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "van-primary": ($van-primary, $van-primary-invert),
    "van-dark": ($van-dark, $van-dark-invert)
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";