.is-vertical-center-flex {
    display: flex;
    align-items: center;
}
.is-aligned-flex-start {
    align-items: flex-start;
}
.is-flex {
    display: flex;
}
.is-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-center-column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.is-pointer {
    cursor: pointer;
}
.is-not-pointer {
    cursor: default;
}
.has-underline {
    text-decoration: underline;
}
.no-hover:hover,
.no-hover:focus {
    background-color: transparent !important;
    color: #2095f4 !important;
    box-shadow: none !important;
}
.has-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}